@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap);

:root {
  --link-color: rgb(0, 102, 204);
}

* {
  font-weight: 400;
}

body {
  font-family: "Open Sans";
  font-size: large;
  background-color: #111111;
  color: white;
}

.container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

b {
  font-weight: 600;
}

p {
  font-size: medium;
}

a {
  color: var(--link-color);
}

a:visited {
  color: var(--link-color);
}
